.genre-chip {
  margin-left: 0;
}

.cart-button {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
}

.description {
  display: block;
  margin-bottom: 16px;
}

.add-to-cart-button {
  margin: 0;
}
