<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Books</ion-title>

    <ion-button slot="end" fill="clear" class="cart-button">
      <ion-icon name="cart" color="dark" size="large"></ion-icon>
      <ion-badge color="danger" class="cart-badge">{{cartItemsSize}}</ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- FILTERS -->
  <ion-searchbar
    placeholder="Search by title"
    debounce="500"
    [(ngModel)]="filters.title"
    (ionInput)="loadBooks()">
  </ion-searchbar>

  <!-- SORT + FILTER ROW -->
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-button color="light" id="sort-trigger">
          <ion-icon name="filter" slot="start"></ion-icon>
          Sort
        </ion-button>

        <ion-popover #popover trigger="sort-trigger" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-list [lines]="'none'">
                <ion-radio-group value="price,asc" (ionChange)="handleSortChange()" [(ngModel)]="filters.sort">
                  <ion-item>
                    <ion-radio value="price,asc">Price <ion-icon name="arrow-up-outline"></ion-icon></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-radio value="price,desc">Price <ion-icon name="arrow-down-outline"></ion-icon></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>

      <ion-col size="6" class="ion-text-right">
        <ion-button color="light" (click)="isFilterPanelOpened = !isFilterPanelOpened">
          <ion-icon name="funnel" slot="start"></ion-icon>
          Filter
        </ion-button>
      </ion-col>
    </ion-row>

    @if (isFilterPanelOpened) {
      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item lines="none">
            <ion-select
              label="Author"
              placeholder="Select author"
              [(ngModel)]="filters.authorId"
              (ionChange)="loadBooks()">
              @for (author of authors; track author.id) {
                <ion-select-option
                  [value]="author.id">
                  {{ author.name }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-md="4">
          <ion-item lines="none">
            <ion-select
              label="Genre"
              placeholder="Select genre"
              [(ngModel)]="filters.genreId"
              (ionChange)="loadBooks()">
              @for (genre of genres; track genre.id) {
                <ion-select-option
                  [value]="genre.id">
                  {{ genre.name }}
                </ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    }
  </ion-grid>

  <!-- BOOKS GRID -->
  <ion-grid>
    <ion-row>
        <ion-col
          size="12"
          size-sm="6"
          size-md="4"
          size-lg="3">

          <ion-list>
            @for (book of books; track book.id) {
              <ion-item
                [routerLink]="['/', 'books', book.id]"
                detail
              >
                <ion-thumbnail slot="start">
                  <ion-img [src]="apiBaseUrl + book?.imageUrl"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <h2>{{ book.title }}</h2>
                  <p>{{ book.authorName }}</p>
                </ion-label>
              </ion-item>
            }
          </ion-list>
        </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
